* {
  box-sizing: border-box;
  font-family: Arial;
  z-index: 0;
  padding: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding: 0;
}

.row{
  padding: 0;
  margin-left: 0;
}

button{
  padding: 10px 30px;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(#000, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  
  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  font-size: 13px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  transition: 200ms ease-in-out;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 1vh;
  z-index: 10;

  &.is-active {
    transform: translate(-50%, -50%) scale(1);
  }

  .description{
    padding: 20px 3px;
    // .product-header p{
    // }

    .product-price{
      .price{
        transition: 200ms ease-in-out;
        color: blue;
        font-weight: bold;
      }
    }

    .size-buttons{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-bottom: 1px;
      > * {
        width: calc((100% / 3) - 2%);
        font-size: 9px;
      }
      button{
        border: 1px solid gray;
        border-radius: 6px;
        background-color: white;
        padding: 8px 0;

        &.selected{
          border: 2px solid blue;
        }
      }
    }

    .color-dropdown-wrapper{
      .color-dropdown{
        border: 1px lightblue solid;
        border-radius: 5px;
        justify-content: space-around;
        width: 100%;
        padding: 3px 5px;
        &:hover{
          background-color: white;
          border: 1px lightblue solid;
        }
      }
    }

    .availability-section{
      display: flex;
      justify-content: space-between;
      font-size: 10px;
      > * {
        
      margin-left: 0;
      }
      .product-availability{
        justify-content: space-between;
        margin: 10px 0;
        display: flex;
        align-items: center;
        > * {
          height: 2em;
        }
        .product-availability-icon{
          height: 50%;
          position: absolute;
          margin: auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: block;
          background-position: center;
        }
        .product-availability-text-wrapper{
          display: table;
          p{
            margin: 0;
            line-height: 2em;
          }
          // .product-availability-text{
          // }
        }
      }

      .delivery-information{
        > * {
          height: 2em;
        }
        margin: 10px 0;
        
        .delivery-icon-wrapper{
          background: center center;
          .delivery-icon{
            height: 50%;
            top: 0;
            left: 0;
            // height:1vw;
            display: block;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-position: center;
          }
        }

        .delivery-time-information{
          > * {
            line-height: 1em;
            margin: 0;
          }
        }
      }
    }

    .bottom-section{
      display: flex;
      justify-content: space-between;
      .quantity{
        border: 1px solid lightgray;
        border-radius: 5px;
        // height: 3vw;
        vertical-align: middle;
        padding: 0.5vw 0;
        justify-content: space-between;
        display: flex;

        .amount{
          // height:2vw;
          text-align: center;
          width: 60%;
          border: none;
        }
        .btn-quantity{
          color: black;
          transition: all 0.3s;
          display: inline-block;
          text-decoration: none;
          text-align: center;
          vertical-align: top;
          padding: 2px 0;
          // line-height: 26px;
      }
      }
      .add-to-cart-button-wrapper{
        display: flex;
        justify-content: flex-end;

        .add-to-cart-button{
          width: 93%;
          color: white;
          border: none;
          border-radius: 6px;
          background-color: blue;
          height: 100%;
          padding: calc(0.5vw + 3px) 0;
        }
      }
    }
  }
}

@media(min-width: 400px){
  .modal{
    width: 80%;
  }
}

@media(min-width: 768px){
  .modal{
    width: 75%;
    font-size: 1.2em;

    .description{
      padding: 20px 5px;
      .availability-section{
        font-size: 0.6em;
      }

      .size-buttons{
        > * {
          font-size: 0.7em;
        }
      }

      .bottom-section{
        .add-to-cart-button-wrapper{
          .add-to-cart-button{
            font-size: 0.7em;
          }
        }
      }
    }
  }
}

@media(min-width: 1024px){
  .modal{
    width: 75%;
    font-size: 1.4em;
  }
}

@media(min-width: 1200px){
  .modal{
    width: 60%;
    font-size: 1.4em;
  }
}